@model X.PagedList.IPagedList<EmailFlashcards.Models.Category>
@using X.PagedList.Mvc.Core;
@using X.PagedList;

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
<link href="css/Pagination.css" rel="stylesheet" type="text/css" />

<div class="mt-4 mb-4">
    <a asp-action="Create" class="btn btn-primary">Create New Category</a>
</div>


<div class="section mt-4">
    @foreach (var item in Model)
    {
        <div class="card mb-3 shadow-sm">
            <div class="card-header bg-light bg-gradient">
                <div class="row">
                    <div class="col-11" data-bs-toggle="collapse" data-bs-target="#id_@item.CategoryId" aria-expanded="false" aria-controls="id_@item.CategoryId">
                        @item.FlashcardCategoryName
                    </div>
                    <div class="col-1 d-flex justify-content-end">
                        <a asp-action="Edit" asp-route-id="@item.CategoryId"><i class="bi bi-pencil-fill btn btn-secondary me-1"></i></a>
                        <a asp-action="Delete" asp-route-id="@item.CategoryId"><i class="bi bi-trash-fill btn btn-danger me-1"></i></a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <div class="d-flex justify-content-start">
                @Html.PagedListPager( Model, page => Url.Action("Index", new { page }))
            </div>
        </div>
        <div class="col-6">
            <div class="d-flex justify-content-end mt-2">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            </div>
        </div>
    </div>
</div>


<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
@if (ViewData["SuccessMessage"] != null)
{
    <script src="~/js/AlertSuccess.js"></script>
}

@if (ViewData["DeleteAction"] != null)
{
    <script src="~/js/AlertDelete.js"></script>
}
