@model IEnumerable<EmailFlashcards.Models.Flashcard>


@{
    ViewData["Title"] = "Index";
}

<div class="mt-4 mb-4">
    <button type="button" asp-action="Create" class="btn btn-primary">Create New Flashcard</button>
</div>

<div class="row">
    <div class="col-6">
        @* Search START*@
        <form asp-action="SearchFlashcard" asp-controller="Flashcards">
            <div class="input-group">
                <input class="form-control" type="search" name="searchString" placeholder="Search Term" />
                <input type="submit" class="btn btn-outline-primary" value="Search" />
            </div>
        </form>
        @* Search END*@
    </div>
    <div class="col-6">
        @*Category filter START*@
        <form asp-action="Index" asp-controller="Flashcards">
            <select name="categoryId" asp-items="@ViewBag.CategoryList" class="form-control"
                    onchange="this.form.submit()" onfocus="this.selectedIndex=-1;this.blur();">
                <option>All Categories</option>
            </select>
        </form>
        @*Category filter END*@
    </div>
</div>


<div class="section mt-4">
        @foreach (var item in Model)
        {
        <div class="card mb-3 shadow-sm">
            <div class="card-header bg-light bg-gradient">
                    <div class="row">
                        <div class="col-8">
                            @item.FlashcardTitle
                        </div>
                        <div class="col-4 d-flex justify-content-end">
                        <button type="button" class="btn btn-secondary btn-sm me-1" asp-action="Edit" asp-controller="Flashcards" asp-route-id="@item.FlashcardId">Edit</button>
                        <button type="button" class="btn btn-success btn-sm me-1" asp-action="Details" asp-route-id="@item.FlashcardId">Details</button>
                        <button type="button" class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.FlashcardId">Delete</button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        @item.FlashcardText
                    </blockquote>
                </div>
            </div>
        }
</div>


<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
@if (ViewData["SuccessMessage"] != null)
{
    <script>
        Swal.fire({
            icon: 'success',
            title: 'Your action has been saved',
            showConfirmButton: false,
            timer: 1500
        })
    </script>
}
