@model X.PagedList.IPagedList<EmailFlashcards.Models.Flashcard>
@using X.PagedList.Mvc.Core;
@using X.PagedList;

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
<link href="css/Pagination.css" rel="stylesheet" type="text/css" />
<div class="mt-4 mb-4">
    <a asp-action="Create" class="btn btn-primary">Create New Flashcard</a>
</div>

<div class="row">
    <div class="col-6">
        @* Search START*@
        <form asp-action="SearchFlashcard" asp-controller="Flashcards">
            <div class="input-group">
                <input class="form-control" type="search" name="searchString" placeholder="Search Term" />
                <input type="submit" class="btn btn-outline-primary" value="Search" />
            </div>
        </form>
        @* Search END*@
    </div>
    <div class="col-6">
        @*Category filter START*@
        <form asp-action="Index" asp-controller="Flashcards">
            <select name="categoryId" asp-items="@ViewBag.CategoryList" class="form-control"
                    onchange="this.form.submit()" onfocus="this.selectedIndex=-1;this.blur();">
                <option>All Categories</option>
            </select>
        </form>
        @*Category filter END*@
    </div>
</div>


<div class="section mt-4">
    @foreach (var item in Model)
    {
        <div class="card mb-3 shadow-sm">
            <div class="card-header bg-light bg-gradient">
                <div class="row">
                    <div class="col-11" data-bs-toggle="collapse" data-bs-target="#id_@item.FlashcardId" aria-expanded="false" aria-controls="id_@item.FlashcardId">
                        @item.FlashcardTitle
                    </div>
                    <div class="col-1 d-flex justify-content-end">
                        <a asp-action="Edit" asp-route-id="@item.FlashcardId"><i class="bi bi-pencil-fill btn btn-secondary me-1"></i></a>
                        <a asp-action="Delete" asp-route-id="@item.FlashcardId"><i class="bi bi-trash-fill btn btn-danger me-1"></i></a>
                    </div>
                </div>
            </div>
            <div class="collapse" id="id_@item.FlashcardId">
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        @Html.Raw(item.FlashcardText)
                    </blockquote>
                </div>
            </div>
        </div>
    }
</div>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager( Model, page => Url.Action("Index", new { page }))




<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
@if (ViewData["SuccessMessage"] != null)
{
    <script src="~/js/AlertSuccess.js"></script>
}

@if (ViewData["DeleteAction"] != null)
{
    <script src="~/js/AlertDelete.js"></script>
}